node_modules
node_modules.*
release
dist
src/frontend/desktop-app/electron/
src/frontend/public/fonts/
**/__pycache__/
config/runtime.env
config/runtime/
.env
src/frontend/.env.local
.vscode/settings.json
*.local.env
